<!DOCTYPE html>
<html lang="ja">
<head>
  <!--#include virtual="/shared/inc/setting.inc" -->
  <title>{{#if isTopPage}}SAMPLE PROJECT{{else}}{{title}} | SAMPLE PROJECT{{/if}}</title>
  <meta name="description" content="" />
  <!--#include virtual="/shared/inc/styles.inc" -->
  {{#if style}}{{#each style}}<link rel="stylesheet" href="{{this}}" media="all" />
  {{/each}}{{/if}}
</head>
<body>
<div id="container">
  <div id="contentsarea">
    <!--#include virtual="/shared/inc/header.inc" -->
    <div id="main">
      {{> body }}
    </div>
    <!--#include virtual="/shared/inc/footer.inc" -->    
  </div>
</div>

  <!--#include virtual="/shared/inc/scripts.inc" -->
  {{#if script}}{{#each script}}<script src="{{this}}"></script>
  {{/each}}{{/if}}
</body>
</html>