@charset "UTF-8";/*　*/
@import "_mixin";

body, input, textarea, select, option, button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: medium;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  color: #333;
}
body {
}
#container {
  min-width: 980px;  
  font-size: 87.5%;
}
#contentsarea {
}
